<div class="gallery-title">
    <a href="/">Go back</a>
    <h1>Ironhack Cinema</h1>

    <h2>Click on the movie to check the showtimes!</h2>
</div>

<div class="gallery">
    <ul class="gallery-content">
        {{#each this.moviesList}}
        <div class="gallery-movies">

            <img src="{{this.image}}" alt="movie">
            <h3>{{this.title}}</h3>
            <a href="/movie/{{this.id}}">See more</a>
        
        </div>
        
        {{/each}}
    </ul>
</div>